header {
  width: 100%;
  height: 100%;
}

header .navbar {
  background-color: #FFDE22;
  padding: 15px 0px;
  width: 100%;
  -webkit-transition: 5ms;
  -o-transition: 5ms;
  transition: 5ms;
}

header .navbar .logo {
  color: black;
  font-size: 36px;
  font-weight: 900;
  text-decoration: none;
  -webkit-transition: 5ms;
  -o-transition: 5ms;
  transition: 5ms;
  cursor: pointer;
}

header .navbar .logo:hover {
  color: #FF414E;
  text-shadow: 2px 1px 1px black;
}

header .navbar .logo span {
  color: #FF414E;
}

header .navbar ul {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: black;
}

header .navbar ul li {
  margin: 0px 10px;
}

header .navbar ul li a {
  text-decoration: none;
  color: black;
  text-transform: capitalize;
  font-weight: 900;
  font-size: 18px;
  -webkit-transition: 5ms;
  -o-transition: 5ms;
  transition: 5ms;
  cursor: pointer;
}

header .navbar ul li a:hover {
  color: #FF414E;
  text-shadow: 2px 1px 1px black;
}

header .navbar ul li a::after {
  content: "";
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 2px;
  height: 100%;
  background: black;
  margin-left: 10px;
}

header .navbar ul li a::before {
  content: "";
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 2px;
  height: 100%;
  background: black;
  margin-right: 10px;
}

header .header_title {
  background: black;
  width: 100%;
  height: 100%;
  position: relative;
}

header .header_title .header_text {
  width: 100%;
  position: absolute;
  top: 40%;
}

header .header_title .header_text h1 {
  color: white;
  font-size: 96px;
  font-weight: 900;
  text-align: left;
}

header .header_title .header_text h1 span {
  color: #FFDE22;
}

header .header_title .header_text .hd_title {
  color: white;
  font-size: 36px;
  font-weight: 400;
  text-align: left;
}

header .header_title .header_bottom {
  position: absolute;
  bottom: 20%;
  right: 50%;
}

header .header_title .header_bottom .btn_header {
  background-color: #FFDE22;
  border: none;
  border-radius: 50%;
  padding: 20px 20px;
}

footer {
  margin-top: 100px;
  width: 100%;
  height: 100%;
  padding: 50px 0px;
  background: #000;
  border-top: 4px solid #ff414e;
  -webkit-box-shadow: inset 2px 2px 2px #ff414e;
  box-shadow: inset 2px 2px 2px #ff414e;
}

footer p {
  color: white;
  font-size: 18px;
  text-transform: capitalize;
  text-align: right;
}

section {
  width: 100%;
  height: auto;
}

section h2 {
  color: black;
  font-size: 48px;
  text-transform: capitalize;
  font-weight: 900;
  margin-bottom: 40px;
}

section h2::after {
  content: "";
  display: block;
  width: 250px;
  height: 5px;
  background: #ff414e;
  margin-top: 7px;
  -webkit-box-shadow: 2px 2px 6px black;
  box-shadow: 2px 2px 6px black;
}

section h2 span {
  color: #ff414e;
}

section .icons {
  background: #f6f6f2;
  padding-top: 100px;
  margin-bottom: 100px;
  padding-bottom: 50px;
}

section .icons h3 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 24px;
}

section .icons h3::after {
  content: "";
  display: block;
  width: 40px;
  height: 4px;
  background: #ff414e;
}

section .icons .icon_box {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 50px 0px;
}

section .icons .icon_box h4 {
  text-align: center;
  margin-bottom: 15px;
  font-size: 25px;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
}

section .icons .icon_box h4::after {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  background-color: #ff414e;
  position: absolute;
  -webkit-box-shadow: 2px 2px 2px black;
  box-shadow: 2px 2px 2px black;
}

section .icons .icon_box .icon_items {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: #e34c26;
  -webkit-box-shadow: 2px 2px 8px black;
  box-shadow: 2px 2px 8px black;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  -webkit-transition: 10ms;
  -o-transition: 10ms;
  transition: 10ms;
  cursor: pointer;
}

section .icons .icon_box .icon_items #html,
section .icons .icon_box .icon_items #css,
section .icons .icon_box .icon_items #javascript,
section .icons .icon_box .icon_items #jquery,
section .icons .icon_box .icon_items #expressjs,
section .icons .icon_box .icon_items #nodejs,
section .icons .icon_box .icon_items #mongodb,
section .icons .icon_box .icon_items #reactjs {
  width: 140px;
  height: 100px;
  display: block;
}

section .icons .icon_box .icon_items:hover {
  background: #000 !important;
}

section .icons .icon_box .icon_items:hover object {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

section .section_second {
  padding-bottom: 100px;
}

section .section_second h2 {
  margin-bottom: 100px;
}

section .section_second .owl-carousel .framework_box {
  width: 200px;
  height: 200px;
  position: relative;
}

section .section_second .owl-carousel .framework_box img {
  width: 100%;
  height: auto;
}

section .section_second .owl-carousel .owl-prev {
  border: none;
  background-color: transparent;
  font-size: 130px;
  position: absolute;
  left: -130px;
  font-weight: 400;
  text-shadow: 2px 2px 2px black;
  top: 0px;
}

section .section_second .owl-carousel .owl-next {
  border: none;
  background-color: #fff;
  font-size: 130px;
  position: absolute;
  right: -130px;
  font-weight: 400;
  text-shadow: 2px 2px 2px black;
  top: 0px;
}

section .section_second .owl-carousel .owl-dots {
  display: none;
}

section .section_third {
  width: 100%;
  height: auto;
  background-color: #ffc94b;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-top: 100px;
}

section .section_third .third_box {
  border: 2px solid black;
  border-radius: 10px;
  padding: 60px 40px;
  text-align: center;
  width: 100%;
  height: auto;
  -webkit-box-shadow: 2px 2px 5px black;
  box-shadow: 2px 2px 5px black;
  background-color: #e3d477;
  background-attachment: fixed;
  -webkit-transition: 200ms;
  -o-transition: 200ms;
  transition: 200ms;
  position: relative;
  cursor: pointer;
}

section .section_third .third_box::after {
  content: "";
  display: block;
  width: 100px;
  height: 4px;
  background: #000;
  position: absolute;
  bottom: 20px;
  right: 30%;
  left: 30%;
}

section .section_third .third_box:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

section .section_third .third_box:hover h4 {
  color: #ff414e;
  text-shadow: 2px 2px 2px black;
}

section .section_third .third_box:hover object {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

section .section_third .third_box:hover::after {
  -webkit-box-shadow: 2px 2px 2px black;
  box-shadow: 2px 2px 2px black;
  background: #ff414e;
}

section .section_third .third_box h4 {
  text-transform: uppercase;
  text-align: left;
  font-size: 23px;
  font-weight: 900;
  margin-bottom: 25px;
}

section .section_third .third_box h4::after {
  content: "";
  display: block;
  width: 50px;
  height: 4px;
  background: #ff414e;
  -webkit-box-shadow: 2px 2px 2px black;
  box-shadow: 2px 2px 2px black;
}

section .project {
  width: 100%;
  height: 100%;
  padding-top: 100px;
}

section .project h2 {
  margin-bottom: 100px;
}

section .project .box {
  background: #000;
  -webkit-transition: 500ms all;
  -o-transition: 500ms all;
  transition: 500ms all;
  cursor: pointer;
  width: 200px;
  height: 200px;
  -webkit-box-shadow: 14px 14px 20px black;
  box-shadow: 14px 14px 20px black;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}

section .project .box .text_icons {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  background: -o-radial-gradient(circle, #d20e0e 20%, #290205 84%);
  background: radial-gradient(circle, #d20e0e 20%, #290205 84%);
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 5px solid #ff414e;
  border-radius: 10px;
  opacity: 0.8;
  visibility: hidden;
}

section .project .box .text_icons p {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  font-size: 25px;
  font-weight: 900;
  color: white;
}

section .project .box .text_icons p:hover {
  color: white;
  -webkit-transform: scale(2.2) rotate(-45deg);
  -ms-transform: scale(2.2) rotate(-45deg);
  transform: scale(2.2) rotate(-45deg);
  text-shadow: 5px 5px 35px black;
}

section .project .box:hover .text_icons {
  visibility: visible;
}

section .project .box img {
  width: 100% !important;
  height: 100%;
  -webkit-transform: rotate(-45deg) scale(1.4);
  -ms-transform: rotate(-45deg) scale(1.4);
  transform: rotate(-45deg) scale(1.4);
  -o-object-fit: cover;
  object-fit: cover;
}

section .project .m_auto {
  margin: auto;
}

section .project .shadow {
  -webkit-box-shadow: 50px 50px 60px black;
  box-shadow: 50px 50px 60px black;
}

section .about {
  background: url(../img/banner_3.jpg) no-repeat center center / cover;
  background-attachment: fixed;
  margin-top: 200px;
  padding-top: 100px;
  padding-bottom: 100px;
}

section .about h2 {
  color: white;
}

section .about .box_left {
  border-right: 6px solid #e63946;
  padding-top: 20px;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 25px 25px 50px black;
  box-shadow: 25px 25px 50px black;
  padding-bottom: 20px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

section .about .box_left .img_box {
  width: 100%;
  height: 100%;
  margin-bottom: 20px;
}

section .about .box_left .img_box img {
  border-radius: 50%;
  width: 90%;
  height: 280px;
  text-align: center;
  display: block;
  margin: auto;
  border: 6px solid #e63946;
  padding: 10px;
  -webkit-box-shadow: 2px 2px 20px black;
  box-shadow: 2px 2px 20px black;
}

section .about .box_left .text_box ul h3 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding: 15px 0px 15px 10px;
  background: #e63946;
  border-right: 10px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  text-align: center;
  position: relative;
}

section .about .box_left .text_box ul h3::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  text-align: right;
  position: absolute;
  right: -12px;
  top: 13px;
  -webkit-box-shadow: 2px 2px 2px black;
  box-shadow: 2px 2px 2px black;
}

section .about .box_left .text_box ul li {
  margin: 10px 0px;
}

section .about .box_left .text_box ul li p {
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 500;
  color: white;
  padding-left: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

section .about .box_left .text_box ul li p span {
  display: block;
  text-align: right;
}

section .about .box_left .text_box ul li p span i {
  margin: 0px 2px;
  color: gold;
}

section .about .box_left .text_box ul li a {
  text-decoration: none;
  margin-left: 50px;
  color: white;
  font-size: 18px;
  text-transform: capitalize;
}

section .about .box_left .text_box .hobbies li {
  margin: 0;
}

section .about .box_left .text_box .hobbies li p {
  display: block;
  padding-left: 50px;
  margin: 10px 0px;
}

section .about .box_right {
  border-left: 6px solid #e63946;
  background: rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 20px 20px 50px black;
  box-shadow: 20px 20px 50px black;
  padding-top: 50px;
  padding-left: 20px;
  padding-bottom: 50px;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

section .about .box_right h3 {
  color: #f0db4f;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 70px;
  text-shadow: 10px 10px 10px black;
}

section .about .box_right h3::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: #ff414e;
  -webkit-box-shadow: 2px 2px 2px black;
  box-shadow: 2px 2px 2px black;
}

section .about .box_right h3 span {
  text-shadow: none;
  display: block;
  font-size: 25px;
  font-weight: 900;
  color: #f6f6f2;
  text-transform: capitalize;
  padding-top: 5px;
  padding-bottom: 5px;
}

section .about .box_right h4 {
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;
  padding: 15px 0px 15px 10px;
  background: #e63946;
  border-right: 10px;
  border-bottom-left-radius: 100px;
  border-top-left-radius: 100px;
  text-align: center;
  position: relative;
  width: 80%;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: auto;
}

section .about .box_right h4::after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: white;
  text-align: right;
  position: absolute;
  right: -12px;
  top: 13px;
  -webkit-box-shadow: 4px 4px 10px black;
  box-shadow: 4px 4px 10px black;
}

section .about .box_right p {
  color: white;
  font-size: 19px;
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
  text-transform: capitalize;
}

section .about .box_right .title {
  margin-bottom: 0;
  font-weight: 700;
  font-style: italic;
}

section .about .box_right .title::after {
  content: "";
  display: block;
  width: 200px;
  height: 4px;
  background: #ff414e;
  -webkit-box-shadow: 2px 2px 2px black;
  box-shadow: 2px 2px 2px black;
}

section .about .box_right p:last-of-type {
  margin-bottom: 0;
}

section .about .white {
  color: white !important;
}

section .contact {
  margin-top: 100px;
  height: auto;
}

section .contact .contacts {
  border-radius: 20px;
  background: #000;
  padding: 40px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 100px;
  -webkit-box-shadow: 15px 15px 40px black;
  box-shadow: 15px 15px 40px black;
}

section .contact .contacts .texts {
  border-right: 4px solid #ff414e;
  padding-right: 80px;
  width: 70%;
}

section .contact .contacts .texts a {
  display: block;
  text-decoration: none;
  color: white;
  margin: 30px 0px;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
}

section .contact .contacts .texts a:hover {
  color: #ff414e;
  text-shadow: 2px 1px 1px black;
}

section .contact .contacts .texts a span {
  font-size: 18px;
  font-weight: 700;
  text-transform: capitalize;
  margin-right: 20px;
}

section .contact .contacts .texts a span i {
  margin-right: 10px;
  color: #ff414e;
  text-shadow: 2px 2px 2px black;
}

section .contact .contacts .logos {
  width: 100%;
  height: 100%;
}

section .contact .contacts .logos .logo {
  display: block;
  width: 100%;
  color: white;
  font-size: 60px;
  font-weight: 900;
  text-decoration: none;
  -webkit-transition: 5ms;
  -o-transition: 5ms;
  transition: 5ms;
  text-align: center;
  cursor: pointer;
}

section .contact .contacts .logos .logo:hover {
  color: #ff414e;
  text-shadow: 2px 1px 1px black;
}

section .contact .contacts .logos .logo span {
  color: #ff414e;
}

section .flex_reverse {
  -webkit-flex-wrap: wrap-reverse;
  -ms-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

section .mt_40 {
  margin-top: 90px;
}

section .wt_380 {
  width: 100% !important;
  height: 100% !important;
}

section .wt_180 {
  width: 100% !important;
  height: 100% !important;
}

section .bg_css {
  background-color: #264de4 !important;
}

section .bg_js {
  background-color: #f0db4f !important;
}

section .bg_reactjs {
  background-color: #61dbfb !important;
  padding-left: 30px;
}

section .bg_nodejs {
  background-color: #3c873a !important;
}

section .bg_expressjs {
  background-color: #303030 !important;
}

section .bg_jquery {
  background-color: #0868ac !important;
}

section .bg_mongodb {
  background-color: #c1bebc !important;
}

/* ===== */

img {
  max-width: 100%;
  height: auto;
}

body {
  min-width: 320px;
  font-family: "M PLUS Rounded 1c", sans-serif;
}

.preloader {
  position: fixed;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0px;
  background: #000;
  z-index: 5;
  -webkit-transition: 1s all;
  -o-transition: 1s all;
  transition: 1s all;
  opacity: 1;
  visibility: visible;
}

.preloader .loader {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 20px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 70px;
}

.preloader .loader h3 {
  color: white;
  font-size: 30px;
  font-weight: 700;
}

.preloader .logo {
  color: white;
  font-size: 36px;
  font-weight: 900;
  text-decoration: none;
  -webkit-transition: 1ms;
  -o-transition: 1ms;
  transition: 1ms;
  cursor: pointer;
  position: absolute;
  top: 65%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.preloader .logo span {
  color: #ff414e;
}

.button_top {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #000;
  position: fixed;
  top: 300px;
  right: 100px;
  z-index: 3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  visibility: hidden;
  cursor: pointer;
}

.button_top:hover {
  -webkit-box-shadow: 2px 2px 10px black;
  box-shadow: 2px 2px 10px black;
  color: #ff414e;
}

.button_top:hover i {
  color: #ff414e;
}

.button_top ul {
  position: fixed;
  top: 250px;
  right: 95px;
}

.button_top ul li {
  margin: 10px 0px;
}

.button_top ul li .texting {
  display: none;
  color: #ff414e;
  font-size: 18px;
  text-transform: capitalize;
  font-weight: 700;
  position: relative;
}

.button_top ul li .texting::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: black;
  -webkit-box-shadow: 4px 4px 8px black;
  box-shadow: 4px 4px 8px black;
  margin-top: 3px;
}

.button_top ul li .texting::before {
  content: "";
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: black;
  -webkit-box-shadow: 4px 4px 8px black;
  box-shadow: 4px 4px 8px black;
  margin-top: 3px;
  position: absolute;
  left: -30px;
}

.button_top .btn_fixed {
  border: none;
  background: transparent;
  color: white;
}

.button_top .btn_fixed i {
  font-size: 25px;
  margin: auto;
  font-weight: 500;
}

.bars {
  display: none;
}

.bars .btn_bars {
  color: #000;
  border-radius: 5px;
  font-weight: 900;
  font-size: 20px;
  background: transparent;
  border: none;
  -webkit-transition: 500ms;
  -o-transition: 500ms;
  transition: 500ms;
  cursor: pointer;
}

.bars .btn_bars:hover {
  color: #ff414e;
}

.fixed {
  color: #ff414e !important;
}

.done {
  opacity: 0;
  visibility: hidden;
}

.active {
  border-color: red !important;
  -webkit-transition: 1ms all;
  -o-transition: 1ms all;
  transition: 1ms all;
}

.colors {
  color: #ff414e !important;
  display: block !important;
}

@media (max-width: 992px) {
  header .navbar .logo {
    font-size: 34px;
  }

  header .navbar ul {
    display: none;
  }

  header .header_title .header_text h1 {
    font-size: 71px;
  }

  header .header_title .header_text .hd_title {
    font-size: 30px;
  }

  section .section_second .owl-carousel .framework_box {
    width: 160px;
  }

  section .section_second .owl-carousel .framework_box {
    height: 160px;
  }

  section .section_third .third_box {
    margin: 20px 0px;
  }

  section .project .box {
    width: 200px;
  }

  section .project .box {
    margin: auto;
  }

  section .project .box {
    margin-top: 45px;
  }

  section .project .box {
    margin-bottom: 45px;
  }

  section .about {
    margin-top: 50px;
  }

  section .contact .contacts {
    margin-bottom: 80px;
  }

  section .contact .contacts {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  section .contact .contacts .texts {
    width: 100%;
  }

  section .contact .contacts .texts {
    border-right: none;
  }

  section .contact .contacts .texts {
    border-bottom: 4px solid #ff414e;
  }

  section .contact .contacts .texts a {
    font-size: 20px;
  }

  section .contact .contacts .logos .logo {
    font-size: 40px;
  }

  section .contact .contacts .logos .logo {
    margin-top: 10px;
  }

  .button_top {
    right: 40px;
  }

  .button_top ul {
    right: 40px;
  }

  .button_top ul li .texting::before {
    display: none;
  }

  .bars {
    display: block;
  }
}

@media (max-width: 768px) {
  header .navbar ul {
    margin: auto;
  }

  header .navbar ul {
    direction: row;
  }

  header .header_title .header_text h1 {
    font-size: 50px;
  }

  header .header_title .header_text .hd_title {
    font-size: 20px;
  }

  section h2::after {
    width: 150px;
  }

  section h2 {
    font-size: 39px;
  }

  section .icons {
    padding-top: 80px;
  }

  section .icons {
    padding-bottom: 40px;
  }

  section .icons h3 {
    font-size: 22px;
  }

  section .icons .icon_box {
    margin: 30px 0px;
  }

  section .icons .icon_box h4 {
    font-size: 22px;
  }

  section .section_second {
    padding-bottom: 80px;
  }

  section .section_second .owl-carousel .framework_box {
    width: 150px;
  }

  section .section_second .owl-carousel .framework_box {
    height: 150px;
  }

  section .section_second .owl-carousel .owl-nav {
    display: none;
  }

  section .section_second .icon_fwork {
    text-align: center;
  }

  section .section_third {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  section .section_third .third_box {
    margin: 20px 0px;
  }

  section .section_third .third_box h4 {
    font-size: 22px;
  }

  section .project {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  section .project .box {
    width: 200px;
  }

  section .project .box {
    margin: auto;
  }

  section .project .box {
    margin-top: 50px;
  }

  section .project .box {
    margin-bottom: 50px;
  }

  section .about {
    margin-top: 0px;
  }

  section .contact {
    margin-top: 80px;
  }

  section .contact .contacts .logos .logo {
    font-size: 30px;
  }

  section .contact .contacts .logos .logo {
    margin-top: 10px;
  }
}

@media (max-width: 576px) {
  header .navbar .logo {
    font-size: 25px;
  }

  header .navbar ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  header .navbar ul li a {
    font-size: 16px;
  }

  header .header_title .header_text {
    top: 30%;
  }

  header .header_title .header_text h1 {
    font-size: 29px;
  }

  header .header_title .header_text h1 {
    text-align: center;
  }

  header .header_title .header_text .hd_title {
    font-size: 15px;
  }

  header .header_title .header_text .hd_title {
    text-align: center;
  }

  section h2::after {
    width: 100px;
  }

  section h2 {
    font-size: 22px;
  }

  section .icons {
    padding-top: 50px;
  }

  section .icons {
    padding-bottom: 25px;
  }

  section .icons {
    margin-bottom: 25px;
  }

  section .icons h3 {
    font-size: 18px;
  }

  section .icons .icon_box {
    margin: 25px 0px;
  }

  section .icons .icon_box h4::after {
    height: 4px;
  }

  section .icons .icon_box h4 {
    font-size: 18px;
  }

  section .section_second {
    padding-bottom: 50px;
  }

  section .section_second h2 {
    margin-bottom: 25px;
  }

  section .section_second .owl-carousel .framework_box {
    width: 100px;
  }

  section .section_second .owl-carousel .framework_box {
    height: 100px;
  }

  section .section_second .icon_fwork {
    text-align: center;
  }

  section .section_second .icon_fwork {
    margin-bottom: 20px;
  }

  section .section_third {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  section .section_third .third_box {
    margin-bottom: 20px;
  }

  section .section_third .third_box h4::after {
    margin: auto;
  }

  section .section_third .third_box h4 {
    font-size: 18px;
  }

  section .section_third .third_box h4 {
    text-align: center;
  }

  section .project {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  section .project h2 {
    margin-bottom: 0px;
  }

  section .project .box {
    width: 200px;
  }

  section .project .box {
    margin: auto;
  }

  section .project .mtb_sm {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  section .about {
    margin-top: 0px;
  }

  section .about {
    margin-top: 50px;
    padding-top: 50px;
    padding-bottom: 500px;
  }

  section .contact {
    margin-top: 50px;
  }

  section .contact {
    background: #000;
  }

  section .contact {
    padding-top: 50px;
  }

  section .contact h2 {
    color: white;
  }

  section .contact .contacts {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  section .contact .contacts {
    padding: 0px;
  }

  section .contact .contacts {
    border-radius: 0;
  }

  section .contact .contacts {
    margin-bottom: 50px;
  }

  section .contact .contacts .texts {
    border: none;
  }

  section .contact .contacts .texts {
    padding: 0px;
  }

  section .contact .contacts .texts {
    width: 100%;
  }

  section .contact .contacts .texts a {
    font-size: 15px;
  }

  section .contact .contacts .texts a span {
    font-size: 15px;
  }

  section .contact .contacts .logos {
    display: none;
  }

  .button_top {
    width: 30px;
    height: 30px;
    right: 10px;
    font-size: 15px;
  }

  .button_top ul {
    right: 5px;
    font-size: 15px;
  }

  .button_top ul li .texting {
    font-size: 15px;
  }

  .button_top ul li .texting::before {
    display: none;
  }
}